.user-settings-form {
    background-color: rgba(87, 84, 78, 0.8); /* Transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 65%;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
  }
  
  .user-settings-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form elements */
    width: 100%;
  }
  
  .user-settings-form div {
    display: flex;
    justify-content: space-between;
  }
  
  .user-settings-form label {
    flex: 1;
    margin-right: 10px;
  }
  
  .user-settings-form input {
    flex: 1;
    padding: 5px;
  }


@media (max-width: 1600px) {
    .user-settings-form {
        width: 90%;
        height: 90%;
        right: 2%;
    }
    
}

@media (max-width: 1024px) {
    .user-settings-form {
        width: 90%;
        height: 90%;
        right: 2%;
    }
    
}

@media (max-width: 768px) {
    .user-settings-form {
        width: 90%;
        height: 90%;
        right: 2%;
    }
   
}

@media (max-width: 480px) {
    .user-settings-form {
        width: 90%;
        height: 90%;
        right: 2%;
    }
}


@media (min-width: 1500px) {
    .user-settings-form {
      width: 60%; /* Ajustar el ancho del formulario */
      height: auto;
      padding: 20px;
      margin-left: 20%; /* Ajustar el margen izquierdo */
      margin-right: 20%; /* Ajustar el margen derecho */
      background-color: rgba(87, 84, 78, 0.8);
    }
  
    .user-settings-form div {
      flex-direction: row; /* Distribuir elementos en una fila */
      align-items: center;
      justify-content: space-between; /* Espacio entre elementos */
      margin-bottom: 10px; /* Espacio entre líneas del formulario */
    }
  
    .user-settings-form label,
    .user-settings-form span {
      width: 40%; /* Ajustar el ancho de las etiquetas */
      margin-bottom: 0;
    }
  
    .user-settings-form input {
      width: 20%; /* Ajustar el ancho de los inputs a 20% */
      margin-left: 5px; /* Espacio entre etiqueta e input */
    }
  
    .user-settings-form button {
      align-self: center;
    }
}
