.user-settings-form {
    background-color: rgba(87, 84, 78, 0.8); /* Transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 65%;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .user-settings-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form elements */
    width: 100%;
  }
  
  .user-settings-form div {
    display: flex;
    justify-content: space-between;
  }
  
  .user-settings-form label {
    flex: 1;
    margin-right: 10px;
  }
  
  .user-settings-form input {
    flex: 1;
    padding: 5px;
  }


@media (max-width: 1600px) {
    .user-settings-form {
        width: 90%;
        height: 90%;
        right: 2%;
    }
    
}

@media (max-width: 1024px) {
    .user-settings-form {
        width: 90%;
        height: 90%;
        right: 2%;
    }
    
}

@media (max-width: 768px) {
    .user-settings-form {
        width: 90%;
        height: 90%;
        right: 2%;
    }
   
}

@media (max-width: 480px) {
    .user-settings-form {
        width: 90%;
        height: 90%;
        right: 2%;
    }
}
  