img {
    margin-bottom: 1.5rem;
}

img:hover {
    filter: drop-shadow(0 0 2em #227eb3aa);
}

#img_boiler:hover {
    filter: drop-shadow(0 0 2em #b35a22aa);
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.boiler-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.boiler {
    display: flex;
    align-items: center;
    margin: 10px;
}
.switch-container-boiler{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;

}

.switch-container-boiler .MuiSwitch-root{
    transform: rotate(90deg);

}

.boiler-image {
    position: relative;
    display: inline-block;
}

.boiler-image img:first-child {
    transition: filter 0.3s ease;
}

.boiler-image.active img:first-child {
    filter: hue-rotate(180deg) brightness(0.5) contrast(1.5);
}

.switch-container .MuiSwitch-root {
    transform: rotate(90deg);
}

.chiller-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chiller {
    display: flex;
    align-items: center;
    margin: 5px;
}

.switch-container {
    margin-right: 5px;
}

.chiller-image {
    position: relative;
    display: inline-block;
}

.chiller-image img:first-child {
    transition: filter 0.3s ease;
}

.chiller-image.active img:first-child {
    filter: hue-rotate(180deg) brightness(0.5) contrast(1.5);
}

.thermometer-icon {
    position: absolute;
    top: -40px;
    right: 0;
    width: 30px;
    height: 30px;
}

.stats-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.graph_container {
    width: 90%;
    height: 90%;
}
@media (max-width: 3000px) {
    .chiller {
        width: 240px;
        height: 240px;
    }
    .chiller-image img:first-child {
        width: 150px;
        height: 150px;
    }
    .thermometer-icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 1600px) {
    .chiller {
        width: 160px;
        height: 160px;
    }
    .chiller-image img:first-child {
        width: 100px;
        height: 100px;
    }
    .thermometer-icon {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 768px) {
    .chiller {
        width: 100px;
        height: 100px;
    }
    .chiller-image img:first-child {
        width: 80px;
        height: 80px;
    }
    .thermometer-icon {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 480px) {
    .chiller {
        width: 80px;
        height: 80px;
    }
    .chiller-image img:first-child {
        width: 60px;
        height: 60px;
    }
    .thermometer-icon {
        width: 18px;
        height: 18px;
    }
}
